.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.header-container {
  align-items: center;
  color: #000;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.header .container,
.header-container {
  padding: 10px 0;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Montserrat-Regular", sans-serif;
}

.header-container a {
  text-decoration: none;
  color: #3d3b3b;
}

.header-container a:hover {
  color: #000;
}

/* Переключатель */

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b9b9b9;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #63676a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Темная Тема */

body.dark-mode {
  background-color: #212121;
  color: #fff;
}

body.dark-mode .navbar {
  background-color: #212121;
}

body.dark-mode .product-card {
  background-color: #373737;
}

body.dark-mode .buy-btn {
  background-color: #515151;
}

body.dark-mode .product-card__title {
  color: #fff;
}

body.dark-mode .header {
  color: #fff;
  background-color: #373737;
}

body.dark-mode .header .logo {
  color: #fff;
}

body.dark-mode .header a {
  color: #fff;
}

body.dark-mode .btn-scroll-top svg {
  fill: #f6f0f0;
}

body.dark-mode .btn-scroll-top svg:hover {
  fill: #000;
}
