.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-container {
  max-width: 1200px;
  margin: 0;
}

.title {
  font-size: 60px;
  font-weight: 600;
  margin: 100px 20px 0;
}

.product-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* // Карточки */

.product-card {
  position: relative;
  margin: 15px 0;
  width: 335px;
  height: 407px;
  background: #ffffff;
  box-shadow: 0px 13px 35px rgba(92, 92, 183, 0.07);
  border-radius: 15px;
  padding: 32px 21px;
}

.product-card__image {
  width: 220px;
  height: 220px;
  margin: 0 auto;
}

.product-card__image img {
  width: 100%;
  height: 100%;
}

.product-card__title {
  text-align: center;
  margin-top: 15px;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 21px;
  color: #1c1c27;
}

.description {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 14px;
  margin: 10px;
  height: 64px;
}

.buy-btn {
  background: #5c5cdd;
  border-radius: 10px;
  border: 0;
  color: #ffffff;
  border-radius: 10px;
  padding: 10px 20px;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 18px;
  color: #ffffff;
  transition: all 0.6s;
  margin: 0 10px;
}

.buy-btn:hover {
  background: #4141b8;
}

.date-added {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 14px;
  position: absolute;
  bottom: 20px;
  left: 30px;
}
