body.dark-mode .modal-content {
  background-color: #373737;
}

body.dark-mode .tele_1 {
  fill: #212121;
}

.tele_1 {
  fill: #29b6f6;
}

body.dark-mode footer {
  background-color: #373737;
  color: #fff;
}
body.dark-mode .modal-content input[type="number"], .modal-content textarea{
  background-color: transparent;
  color: #fff;
}

body.dark-mode .modal-content input[type="number"], .modal-content textarea::placeholder{
  color: #fff;
}


body.dark-mode footer a {
  color: #fff;
}

body.dark-mode .modal-product-name {
  color: #fff;
}

body.dark-mode .modal-content button[type="submit"]{
  background-color: #63676a;
}

body.dark-mode .modal-content textarea {
  color: #fff;
}

body.dark-mode .modal-content textarea::placeholder{
  
}

body.dark-mode  .modal-content button.close-modal {
  border: 2px solid #63676a;
  color:#63676a ;
}

body.dark-mode .modal-content button[type="submit"]:hover{
  background-color: #262626;
  transition: all 1s;
}

body.dark-mode .modal-content button.close-modal:hover {
  background-color: transparent;
  transition: all 0.8s;
  border: 2px solid #fff;
  color: #fff;
}